*
!.gitignore
!.gitconfig
!.gitmodules
!.vim
!.vim/autoload/*
!.vim/spell/*
!.vim/ftplugin/*
!.vim/bundle/*
!.vim/bundle/**/*
!.vimrc
!.tmux.conf
!.mutt
!.mutt/*
!.mutt/**/*
!.mailcap
!.muttrc
!.zshrc
!README.md
!.bashrc
